<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        {{range .}}
            <h2>{{.RestName}}</h2>
            {{range .Menus}}
                <h3>Food Name : {{.Name}}</h3>
                <h4>Availability : {{.Meal}}</h4>
                <h4>Price : Rp.{{.Price}}</h4>
            {{end}}
        {{end}}
    </body>
</html>